@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6D6MmBp0u-zK4.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6I6MmBp0u-zK4.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6J6MmBp0u-zK4.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v13/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.container {
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
.affix + .container-fluid {
    padding-top: 70px;
}
.post-container {
    -webkit-transition: all .4s;
    transition: all .4s;
}

/* article--start */
article {
    position:relative;
    padding-left: 180px;
    padding-right: 75px;
    height: 150px;
    background-color: #FFF;
    cursor:pointer;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
}

article .img-wrapper {
    position: absolute;
    top: -10px;
    left:-10px;
    padding:10px;
    z-index: 1000;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #cde;
}

article .img-wrapper img {
    width: 150px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

article h1{
    height: 75px;
    line-height: 75px;
    font-size: 24px;
    border-bottom: 2px solid #cde;
    color: #428bca;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

article p{
    color: #888;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

article a{
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    height: 100%;
    line-height: 150px;
    text-align: center;
    width: 100%;
    background-color: #FFF;
    font-size: 48px;
    font-style:italic;
    opacity:0;
    color: #428bca !important;
    text-decoration: none !important;
    font-family: "Pacifico";
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    border-radius: 150px;
    text-shadow: 0px 1px 1px #AAAAAA;
}
article:hover .img-wrapper {
    padding: 5px;
    @include transform(rotate(5deg));
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
}
article:hover .img-wrapper img {
    width: 160px;
    height: 160px;
}
article:hover a {
    opacity: 1;
}

article:hover .img-wrapper{
    padding:5px;
}


.bloc article {
    padding: 10px;
    height: 225px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 75px;
}
.bloc article .img-wrapper {
    position: relative;
    top: -85px;
    width: 170px;
    left: inherit;
    margin: auto auto -100px;
}
.bloc article h1 {
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}
.bloc article p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.bloc article a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    line-height: 255px;
}

/* article--end */

.post-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #555;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}
.post-date {
    color: #999;
    line-height: 1.6em;
    font-size: 11px;
    margin: 5px 0;
}
.post-body-dot {
    color: #999;
    font-size: 85%;
    line-height: 1.6;
    margin: 0 0 8px 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
.posts-thumb-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition-duration: 0.5s;
}
.large-img {
    width: 150px;
    height: 130px;
}
.item-thumbnail {
    width: 72px;
    height: 72px;
    float: left;
}
.item-thumbnail-img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    transition-duration: 0.5s;
}
.item-thumbnail-img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    cursor: pointer;
}
.post-info {
    padding-left: 10px;
}
.post-bottom-line {
    border-bottom: 1px dotted rgba(0,0,0,0.16);
}
.post-list-read-more {
    border: 1px solid rgba(0,0,0,0.06);
    padding: 5px 8px;
    line-height: normal;
    float: left;
    font-size: 11px;
    color: #999;
}
.post-list-read-more:hover {
    background: #ccc;
    color: #fff;
}
.widget-title {
    background: #fff;
    position: relative;
    text-transform: uppercase;
}
.right-side-title {
    position: relative;
    font-size: 13px;
    padding: 15px 20px;
    margin: 0;
    border-bottom: 1px solid rgba(0,0,0,0.06);
    font-weight: 700;
    line-height: normal;
}
.widget-content {
    background: #fff;
    margin: 0;
    padding: 12px 20px;
    overflow: hidden;
    padding-bottom: 5px;
}
.item-thumbnail-only {
    display: flex;
    padding: .7em 0!important;
    border: 0;
    position: relative;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
}
.item-thumbnail-only-last {
    display: flex;
    padding: .7em 0!important;
    border: 0;
    position: relative;
}
.item-title {
    color: #555;
    font-size: 12px;
    margin-left: 10px;
}
.post-date-border {
    background: #fafafa;
    display: block;
    padding: 10px;
    color: #999;
    font-size: 12px;
    overflow: hidden;
    margin: 20px 0;
    border: 1px solid #f0f0f0;
}
.post-desc {
    margin-top: 20px;
    /*overflow: auto;*/
    /*width: 100%;*/
    /*display:inline-block;*/
}
.post-img {
    width: 100%;
    height: auto;
}
.post-desc img {
    width:100% !important;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #e64c3c;
    border-color: transparent;
}
textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal {
    padding-top: 150px;
}
.modal-title {
display: none;
}
.btn:active,
.active {
    color: white !important;
    background-color: lightgray !important;
    border-color: transparent !important;
    outline: none !important;
    box-shadow: none;
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}
